body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/images/board-game-elder-elderly-18497.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
