.formContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.myForm {
    width: 80%;
    color: brown;
    display: inline-block;
    text-align: center;
}

.box {
    margin: 10px 5px;
    display: inline-block;
    text-align: initial;
}

.box input {
    background: #ccc;
    border-radius: 3px;
}

.box input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.myBtn {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: brown !important;
    margin: 0 5px 2px 5px;
    height: 40px;
}